@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'SatoshiLight';
  src: url('../fonts/satoshi/Satoshi-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SatoshiLightItalic';
  src: url('../fonts/satoshi/Satoshi-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'SatoshiMedium';
  src: url('../fonts/satoshi/Satoshi-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SatoshiMediumItalic';
  src: url('../fonts/satoshi/Satoshi-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'SatoshiRegular';
  src: url('../fonts/satoshi/Satoshi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SatoshiBlack';
  src: url('../fonts/satoshi/Satoshi-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SatoshiBlackItalic';
  src: url('../fonts/satoshi/Satoshi-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'SatoshiBold';
  src: url('../fonts/satoshi/Satoshi-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SatoshiBoldItalic';
  src: url('../fonts/satoshi/Satoshi-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: 'GooperLight';
  src: url('../fonts/gooper/Gooper-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GooperLightItalic';
  src: url('../fonts/gooper/Gooper-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'GooperSemibold';
  src: url('../fonts/gooper/Gooper-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'GooperSemiboldItalic';
  src: url('../fonts/gooper/Gooper-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'GooperRegularItalic';
  src: url('../fonts/gooper/Gooper-RegularItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'GooperRegular';
  src: url('../fonts/gooper/Gooper-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GooperBlack';
  src: url('../fonts/gooper/Gooper-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'GooperBlackItalic';
  src: url('../fonts/gooper/Gooper-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'GooperBold';
  src: url('../fonts/gooper/Gooper-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GooperBoldItalic';
  src: url('../fonts/gooper/Gooper-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
